@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');
$color: rgb(253, 249, 229);
$padding: 3vh;

// starting style for every element
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $color;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.deck {
  position: relative;

  .slide {
    transition: opacity 2s ease-in;
    position: absolute;
    opacity: 0;
    background: $color;
    color: #333;
    background-color: #fff;
    width: 75vw;
    height: 90vh;
    left: 12.5vw;
    top: 5vh;
    border: 2px solid darken($color, 15%);
    border-radius: $padding;
    padding: $padding;
    overflow: hidden;

    // This slide is always in front
    &.slide-fadein {
      opacity: 1;
      z-index: 0;
    }

    // This slide is always moved to the back
    &.slide-fadeout {
      opacity: 0;
      z-index: 1;
    }

    .slide-title {
      margin: 0 auto $padding;
      text-align: center;
      font-size: 10vh;
      font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    }

    .slide-date {
      margin: 0 auto $padding;
      color: #666;
      font-size: 8vh;
      text-align: center;
    }

    .slide-contents {
      margin: 0 auto;

      p {
        margin-bottom: 0.5em;
        font-size: 5vh;

        img {
          height: 30vh;
          display: block;
          margin: $padding auto;
        }
      }
    }
  }
}
