@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
$color: rgb(253, 249, 229);
$padding: 10px;

body {
  background: $color;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

* { padding: 0; margin: 0; }
.deck {
  position: relative;

  .slide {
    transition: opacity 2s ease-in;
    position: absolute;
    opacity: 0;
    background: $color;
    color: #333;
    background-color: #fff;
    width: 75vw;
    height: 90vh;
    left: 12.5vw;
    top: 5vh;
    box-sizing: border-box;
    border: 2px solid darken($color,15%);
    border-radius: $padding;
    padding: $padding;

    &.slide-fadein {
      opacity: 1;
      z-index: 0;
    }
    &.slide-fadeout {
      opacity: 0;
      z-index: 1;
    }
    .slide-title {
      margin: 0 auto $padding;
      text-align: center;
      font-size: 40px;
      font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    }
    .slide-date {
      margin: 0 auto $padding;
      color: #666;
      font-size: 24px;
      text-align:center;
    }
    .slide-contents {
      margin: 0 auto;

      p {
        margin-bottom: 1em;

        img {
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
}